/* PLEASE NOTE: THESE TAILWIND IMPORTS SHOULD NEVER BE DELETED */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add to your global CSS */
@media (max-width: 640px) {
  .past-work-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .past-work-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .past-work-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.rounded-full {
  object-fit: cover;
}